<div class="card p-4">
    <form class="form new-post-form login p-6 my-2 col-6">
        <div class="form-group">
            <h3>Edit Post</h3>
            <label for="post-title my-3">Title:</label><br>
            <input class="form-input my-1" type="text" id="post-title" value="{{{post.title}}}" />
        </div>
        <div class="form-group">
            <label for="post-content my-3">Content:</label><br>
            <input class="form-input my-1" id="post-content" value="{{{post.content}}}" />
        </div>
        <button class="btn my-1" id="edit-post-btn" data-id="{{post.id}}">Edit Post</button>
        <button class="btn my-1" id="delete-post-btn" data-id="{{post.id}}">Delete</button>
    </form>
</div>

<script src="/js/edit-post.js"></script>   
<script src="/js/delete-post.js"></script>