div class="new-post">
    <h2 class="m-4">Your Dashboard</h2>

    <form class="form new-post-form login p-6 my-2 col-6">
        <div class="form-group">
            <h3>Create New Post</h3>
            <label for="post-title my-3">Title:</label><br>
            <input class="form-input my-1" type="text" id="post-title"/>
        </div>
        <div class="form-group">
            <label for="post-content my-3">Content:</label><br>
            <input class="form-input my-1" id="post-content"/>
        </div>
        <button class="btn my-1" id="create-post">Create</button>
    </form>
    {{!-- <button class="btn m-4" type="submit">+ New Post</button> --}}
</div>

<script src="./js/new-post.js"></script>